<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<!--MESSAGE FLASHING -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!--Table handles app name and login button in header -->
<table class='table'>
<tr>
<th class='header'><a href = '{{url_for('categoryList')}}'><h1>Catalog App</h1></a></th>
<th class='header2'>
	{%if 'username' in session %}
	<button class="button" onclick="window.location.href = '{{url_for('logout')}}';">Logout</button>
	{% else %}
	<button class="button" onclick="window.location.href = '{{url_for('login')}}';">Login</button>
	{% endif %}
</th>
</tr>
<tr>
<td align='center' colspan="2">

	<table class='table2'>
	<tr align="left">
	<th><h2>{{item.name}}</h2></th>
	</tr>
	<tr  valign="top">
	<td>
		<p>Description: {{item.description}}</p>
	</td>
	</tr>
	</table>

</td>
</tr>
<tr>
<td class="lowerlinks" colspan="2">
<a href = '{{url_for('categoryList')}}'>Return to Main</a> > <a href = '{{url_for('itemsList',category_name = category.name)}}'>{{category.name}}</a>
</td>
</tr>
</table


</body>

</html>