<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<!-- BEGIN Google Sign-in Pre-requisites -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<meta name="google-signin-client_id" content="643970276205-u33c2tj1s7m4pjipun7ehhm3n0mg4j3b.apps.googleusercontent.com">
<script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '643970276205-u33c2tj1s7m4pjipun7ehhm3n0mg4j3b.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>
<!-- END Google Sign-in Pre-requisites -->
	</head>
<body>
<!--MESSAGE FLASHING -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!--Table handles app name in header -->
<table class='table'>
<tr>
<th class='header'><a href = '{{url_for('categoryList')}}'><h1>Catalog App</h1></a></th>
<th class='header2'>
</th>
</tr>
<tr>
<td align='center' colspan="2">

	<form action="{{ url_for('logout')}}" method = 'post'>
	<table class='table2'>
	<tr align="left">
	<th><h2>Are you sure you want to logout?</h2></th>
	</tr>
	<tr  align="left">
	<td>
		</br><input type='submit' value = 'Logout' id="signoutButton">
		<script>
		  $('#signoutButton').click(function() {
			// Delete the association between your app and a user's account.
			auth2.disconnect();
		  });
		</script>
	</td>
	</tr>
	</table>
	</form>
</td>
</tr>
<tr>
<td class="lowerlinks" colspan="2">
<a href = '{{url_for('categoryList')}}'>Return to Main</a>
</td>
</tr>
</table


</body>

</html>